<section class="contact">
  <div class="container">
    <h2 class="contact-title">Contact</h2>
    <p class="contact-subtitle">Ready to conquer the food truck festival?</p>
    <p class="contact-email">Email: info@silentra.it.com</p>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/contact/contact-desktop.jpg    1x,
          ../img/contact/contact@2x-desktop.jpg 2x
        "
      />
      <source
        srcset="
          .../img/contact/contact-mobi.jpg   1x,
          ../img/contact/contact@2x-mobi.jpg 2x
        "
      />
      <img
        src="../img/contact/contact-mobi.jpg"
        alt="A bowl of Asian ramen noodles and a plate of grilled meat with vegetables"
        class="contact-img"
      />
    </picture>
  </div>
</section>
