<section class="contact">
  <div class="contact-container container">
    <div class="contact-info">
      <h2 class="contact-title">Contact</h2>
      <p class="contact-subtitle contact-text">
        Ready to conquer the food truck festival?
      </p>
      <p class="contact-email contact-text">Email: info@silentra.it.com</p>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/contact/contact-desktop.jpg    1x,
          ../img/contact/contact@2x-desktop.jpg 2x
        "
      />
      <source
        media="(max-width: 1439px)"
        srcset="
          ../img/contact/contact-mobi.jpg    1x,
          ../img/contact/contact@2x-mobi.jpg 2x
        "
      />
      <img
        src="../img/contact/contact-mobi.jpg"
        alt="A bowl of Asian ramen noodles and a plate of grilled meat with vegetables"
        class="contact-img"
      />
    </picture>
  </div>
</section>
