<section class="">
  <div class="container">
    <h2 class="gallery-title luckiest-title">Gallery</h2>
    <p class="gallery-subtitle subtitle">Visual Direction</p>
    <ul class="gallery-list-img">
      <li class="gallery-item-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/desktop/gallery-first-desktop.jpg    1x,
              ../img/gallery/desktop/gallery-first@2x-desktop.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              ../img/gallery/mobi/gallery-first-mobi.jpg    1x,
              ../img/gallery/mobi/gallery-first@2x-mobi.jpg 2x
            "
          />

          <img
            src="../img/gallery/mobi/gallery-first-mobi.jpg"
            alt="A colorful cooking game scene showing a counter filled with decorated donuts, ice cream, and cute characters"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/desktop/gallery-create-recipe-desktop.jpg    1x,
              ../img/gallery/desktop/gallery-create-recipe@2x-desktop.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              ../img/gallery/mobi/gallery-create-recipe-mobi.jpg    1x,
              ../img/gallery/mobi/gallery-create-recipe@2x-mobi.jpg 2x
            "
          />

          <img
            src="../img/gallery/mobi/gallery-create-recipe-mobi.jpg"
            alt="A male and a female chef standing at a kitchen counter preparing various pizzas"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/desktop/gallery-cooking-challenge-desktop.jpg    1x,
              ../img/gallery/desktop/gallery-cooking-challenge@2x-desktop.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              ../img/gallery/mobi/gallery-cooking-challenge-mobi.jpg      1x,
              ../img/gallery/mobi/gallery-cooking-challenge@2x-mobi.jpg2x
            "
          />

          <img
            src="../img/gallery/mobi/gallery-cooking-challenge-mobi.jpg"
            alt="A vibrant food truck festival park with a giant burger truck, a King Crab stall, and green lawns"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/desktop/gallery-enjoy-desktop.jpg    1x,
              ../img/gallery/desktop/gallery-enjoy@2x-desktop.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              ../img/gallery/mobi/gallery-enjoy-mobi.jpg    1x,
              ../img/gallery/mobi/gallery-enjoy@2x-mobi.jpg 2x
            "
          />

          <img
            src="../img/gallery/mobi/gallery-enjoy-mobi.jpg"
            alt="A festive pink birthday cake with candles, pancakes with kiwi, and sweet desserts"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/desktop/gallery-explore-desktop.jpg    1x,
              ../img/gallery/desktop/gallery-explore@2x-desktop.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              ../img/gallery/mobi/gallery-explore-mobi.jpg    1x,
              ../img/gallery/mobi/gallery-explore@2x-mobi.jpg 2x
            "
          />

          <img
            src="../img/gallery/mobi/gallery-explore-mobi.jpg"
            alt="Icons of new unlockable restaurants including a cozy bakery and a King Crab food truck"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/desktop/gallery-enter-desk.jpg    1x,
              ../img/gallery/desktop/gallery-enter@-desk.jpg2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              ../img/gallery/mobi/gallery-enter-mobi.jpg    1x,
              ../img/gallery/mobi/gallery-enter@2x-mobi.jpg 2x
            "
          />

          <img
            src="../img/gallery/mobi/gallery-enter-mobi.jpg"
            alt="A bakery kitchen interior with fresh strawberry pastries, tarts, and baking trays"
            class="gallery-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
