<section class="hero">
  <div class=" container">
  <div class="hero-title-svg">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="../img/hero/headline-top-title-desktop.png"
      />

      <img
        src="../img/hero/headline-your-food.png"
        alt="YOUR FOOD TRUCK EMPIRE "
        class="hero-title-top over"
      />
    </picture>
    <img
      src="../img/hero/headline-truck-empire.png"
      alt="YOUR FOOD TRUCK EMPIRE STARTS HERE"
      class="hero-title-img hidden over"
    />
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="../img/hero/headline-title-bottom-desktop.png"
      />

      <img
        src="../img/hero/headline-start-here.png"
        alt="STARTS HERE"
        class="hero-title-bottom-img over"
      />
    </picture>
  </div>

  <div class="blur-circle">
    <h1 class="hero-title">
      Fast cooking chaos across the ultimate food festival
    </h1>
  </div>
  <a
    class="hero-link over"
    href="https://play.google.com/store/apps/details?id=com.cooking.truckfest.food.festival"
    target="_blank"
  >
    <svg class="google-icon">
      <use href="../img/sprite.svg#icon-google-play"></use>
    </svg>
    <span>Play on Google Play</span></a
  >
  <div class="hero-wave"></div>
</section>
