<section class="reviews">
  <div class="container">
    <h1 class="reviews-title luckiest-title">Reviews</h1>
    <p class="reviews-subtitle subtitle">What players are saying</p>
    <ul class="reviews-cards">
      <li class="reviews-card-item">
        <div class="reviews-star stars-5"></div>
        <blockquote class="reviews-feedback">
          “One of the most exciting cooking games I’ve played.”
        </blockquote>
        <div class="reviews-author">
          <img src="" alt="FestivalFan avatar" class="reviews-avatar" />
          <span class="reviews-name">FestivalFan</span>
        </div>
      </li>
      <li class="reviews-card-item">
        <div class="reviews-star stars-5"></div>
        <blockquote class="reviews-feedback">
          “Perfect mix of chaos and fun cooking mechanics.”
        </blockquote>
        <div class="reviews-author">
          <img src="" alt="FestivalFan avatar" class="reviews-avatar" />
          <span class="reviews-name">StreetChef</span>
        </div>
      </li>
      <li class="reviews-card-item">
        <div class="reviews-star stars-4"></div>
        <blockquote class="reviews-feedback">
          “Upgrading trucks feels really satisfying.”
        </blockquote>
        <div class="reviews-author">
          <img src="" alt="FestivalFan avatar" class="reviews-avatar" />
          <span class="reviews-name">Emma L.</span>
        </div>
      </li>
      <li class="reviews-card-item">
        <div class="reviews-star stars-4"></div>
        <blockquote class="reviews-feedback">
          “Love the food truck festival vibe and visuals.”
        </blockquote>
        <div class="reviews-author">
          <img src="" alt="FestivalFan avatar" class="reviews-avatar" />
          <span class="reviews-name">Jake M.</span>
        </div>
      </li>
      <li class="reviews-card-item">
        <div class="reviews-star stars-4"></div>
        <blockquote class="reviews-feedback">
          “Got totally hooked and stayed up way too late playing this. My
          thumb's killing me from all the tapping but worth it lol”
        </blockquote>
        <div class="reviews-author">
          <img src="" alt="FestivalFan avatar" class="reviews-avatar" />
          <span class="reviews-name">FoodRush</span>
        </div>
      </li>
    </ul>
  </div>
</section>
