:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Static files  Inter */
@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter-VariableFont.ttf') format('truetype-variations'),
    url('../fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Static files  Luckiest Guy */
@font-face {
  font-family: 'Luckiest Guy';
  src: url('../fonts/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*  Static files Baloo 2 */
@font-face {
  font-family: 'Baloo 2';
  src: url('../fonts/Baloo2-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('../fonts/Baloo2-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('../fonts/Baloo2-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('../fonts/Baloo2-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
