/* Static files  Inter */
@import 'modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter-VariableFont.woff2') format('truetype-variations'),
    url('../fonts/Inter-VariableFont.woff2') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Static files  Luckiest Guy */
@font-face {
  font-family: 'Luckiest Guy';
  src: url('../fonts/LuckiestGuy-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*  Static files Baloo 2 */
@font-face {
  font-family: 'Baloo 2';
  src: url('../fonts/Baloo2-Medium.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('../fonts/Baloo2-SemiBold.woff2') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('../fonts/Baloo2-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('../fonts/Baloo2-ExtraBold.woff2') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Baloo 2', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #4b5563;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #c0f4ff;
}
body.no-scroll {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.luckiest-title {
  font-family: 'Luckiest Guy', sans-serif;
  color: #ffb738;
  -webkit-text-stroke: 4px #813d06;
  paint-order: stroke fill;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.subtitle {
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #813d06;
  text-align: center;
}
