.contact {
  text-align: center;
  padding: 60px 0;
}

.contact-title {
  font-size: 20px;
}

.contact-subtitle {
  margin-bottom: 12px;
}
.contact-email {
  margin-bottom: 20px;
}
.contact-img {
  border-radius: 20px;
  max-width: 311px;
  height: 60px;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .contact-container {
    display: flex;
    gap: 56px;
  }
  .contact-info {
    text-align: start;
    min-width: 82px;
  }
  .contact-title {
    font-size: 40px;
    -webkit-text-stroke: 8px #813d06;
    margin-bottom: 4px;
  }
  .contact-text {
    font-size: 20px;
  }
  .contact-subtitle {
    margin-bottom: 20px;
  }
  .contact-img {
    border-radius: 40px;
    max-width: 842px;
    height: 119px;
    width: 100%;
  }
}
