.footer {
  display: flex;
  align-items: center;
  border-radius: 40px 40px 0 0;
  width: 100%;
  height: 112px;
  background: #fe41da;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.footer-link {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.footer-copy {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1440px) {
  .footer {
    border-radius: 40px 40px 0 0;
    height: 238px;
  }
  .footer-container {
    gap: 12px;
  }
  .footer-list {
    gap: 6px;
  }
  .footer-link {
    font-size: 16px;
  }
  .footer-copy {
    font-size: 20px;
  }
}
