.how-to-play-title {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffb738;
  -webkit-text-stroke: 4px #813d06;
  paint-order: stroke fill;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.how-to-play-descr {
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #813d06;
  margin-bottom: 40px;
}
.how-to-play-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-to-play-items {
  background-color: #9c76f3;
  border-radius: 20px;
  max-width: 215px;
}
