.privacy-container {
  padding-top: 60px;
}

.back-link {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 32px;
}
.back-link-icon {
  width: 24px;
  height: 24px;
}
.back-link-text {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #813d06;
}
.privacy-title {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffb738;
  -webkit-text-stroke: 4px #813d06;
  paint-order: stroke fill;
  margin-bottom: 20px;
}
.privacy-section-title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #813d06;
  margin-bottom: 6px;
}
.privacy-text {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #4b5563;
  margin-bottom: 20px;
}
.consent {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #f7e5cf;
  -webkit-text-stroke: 4px #813d06;
  paint-order: stroke fill;
  margin-bottom: 6px;
}

@media screen and (min-width: 1440px) {
  .privacy-container {
    padding-top: 140px;
  }
  .back-link {
    gap: 12px;
    margin-bottom: 60px;
  }
  .back-link-icon {
    width: 36px;
    height: 36px;
  }
  .back-link-text {
    font-size: 24px;
  }
  .privacy-title {
    font-size: 40px;
    -webkit-text-stroke: 8px #813d06;
    paint-order: stroke fill;
    margin-bottom: 40px;
  }
  .privacy-section-title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .privacy-text {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .consent {
    font-size: 24px;
    -webkit-text-stroke: 4px #813d06;
    paint-order: stroke fill;
    margin-bottom: 12px;
  }
}
